public/index.jade
h1= title
p.lead= intro
P 
  .btn-toolbar
    a.btn.btn-primary.btn-lg(href='/files/example-prototype.zip')
      | Download the Source Code

    a.btn.btn-default.btn-lg(href='https://bitbucket.org/nformux/example-prototype.git')
      | Clone the Project on Bitbucket
hr
br
h3 Consectetur adipiscing elit
.row
  != partial('_partials/items')
    
!= partial('_partials/paragraph')

www/index.html
<!DOCTYPE html><html><head><title>Example Prototype</title><link rel="stylesheet" href="/css/main.css"></head><body><nav class="navbar navbar-default"><div class="container"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#nav-main" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Example Prototype</a></div><div id="nav-main" class="collapse navbar-collapse"><ul class="nav navbar-nav"><li class="active"><a href="/index">Home</a></li><li><a href="/installing-harp">How to Install Harp</a></li><li><a href="/how-i-built-this">How I Built This Prototype</a></li><li><a href="/references">References</a></li></ul></div></div></nav><div class="container"><div class="col-md-8 col-md-offset-2"><h1>Example Prototype</h1><p class="lead">An example prototype using Harp powered by Node.</p><p> <div class="btn-toolbar"><a href="/files/example-prototype.zip" class="btn btn-primary btn-lg">Download the Source Code</a><a href="https://bitbucket.org/nformux/example-prototype.git" class="btn btn-default btn-lg">Clone the Project on Bitbucket</a></div></p><hr><br><h3>Consectetur adipiscing elit</h3><div class="row"><div class="col-md-4"><div class="thumbnail"><img src="https://placehold.it/640x360"><div class="caption">Lorem Ipsum</div></div></div><div class="col-md-4"><div class="thumbnail"><img src="https://placehold.it/640x360"><div class="caption">Lorem Ipsum</div></div></div><div class="col-md-4"><div class="thumbnail"><img src="https://placehold.it/640x360"><div class="caption">Lorem Ipsum</div></div></div><div class="col-md-4"><div class="thumbnail"><img src="https://placehold.it/640x360"><div class="caption">Lorem Ipsum</div></div></div><div class="col-md-4"><div class="thumbnail"><img src="https://placehold.it/640x360"><div class="caption">Lorem Ipsum</div></div></div><div class="col-md-4"><div class="thumbnail"><img src="https://placehold.it/640x360"><div class="caption">Lorem Ipsum</div></div></div></div><h3>Lorem ipsum dolor sit amet</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>Sed ut perspiciatis unde omnis</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div></div></body></html>
